@page "/boolcomponent/{Entity}/{ElementID}/{TypeInfoID}"
@inherits BoolComponentBase
@using TaskManagementInterface.Data.Models.Info
@using TaskManagementInterface.Services.Info

    <div>
        <div class="form-inline">
            <div class="form-group col-md-3">
                <SfTextBox Placeholder='Type Info' @bind-Value="@infoModel.nomination"></SfTextBox>
            </div>
            <div class="form-group col-md-3">
                <SfCheckBox TValue="bool?" @bind="@ValueGetSet" @bind:event="oninput"></SfCheckBox>
            </div>
        </div>
    </div>

@code{

    private bool Value = false;
    public bool ValueGetSet
    {
        get { return this.Value; }
        set
        {
            this.Value = value;
            this.stringValue = value.ToString();
        }
    }

    public bool ParseValue()
    {
        this.stringValue = Value.ToString();
        return bool.Parse(this.infoModel.value);
    }

    public BoolComponent(string Entity, string ElementID, string TypeInfoID)
    {
        Task<SelectInfo_Model> task = GetValue(Entity, ElementID, TypeInfoID);
        task.Wait(60);
        this.infoModel = task.Result;
        this.ValueGetSet = ParseValue();
        StateHasChanged();
    }
}