@page "/boolcomponent/{Entity}/{ElementID}/{TypeInfoID}"
@inherits DetailsAbstract
@using TaskManagementInterface.Data.Models.Info
@using TaskManagementInterface.Services.Info


<div>
    <div class="form-inline">
        <div class="form-group col-md-3">
            <SfTextBox CssClass="e-outline" Readonly="true" @bind-Value="@selectInfo_Model.nomination"></SfTextBox>
        </div>
        <div class="form-group col-md-6">
            <SfCheckBox CssClass="e-outline" @bind-Checked="selectinfovalue" @onfocusout="Save"></SfCheckBox>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Entity { get; set; }
    [Parameter] public string ElementID { get; set; }
    [Parameter] public string TypeInfoID { get; set; }


    SelectInfo_Model selectInfo_Model = new SelectInfo_Model();
    InfoServices infoServices = new InfoServices();
    public bool selectinfovalue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectInfo_Model = Task.Run(() => GetValue(Entity, ElementID, TypeInfoID)).Result;
            selectinfovalue = bool.Parse(selectInfo_Model.value);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


    public async Task Save()
    {
        if (selectinfovalue == false)
        {
            await infoServices.DeleteElement(Entity, selectInfo_Model.uid.ToString());
        }
        else
        {
            await infoServices.AddInfo(Entity, ElementID, TypeInfoID, selectinfovalue.ToString());
        }
    }





}