@using TaskManagementInterface.Services.Info
@using TaskManagementInterface.Data.Models.Info
@using Syncfusion.Blazor.DropDowns
<div>
    <div class="form-inline">
        <div class="form-group col-md-3">
            <SfTextBox Placeholder='Type Info' @bind-Value="infoModel.nomination"></SfTextBox>
        </div>
        <div class="form-group col-md-3">
            @*<SfDropDownList TItem="GameFields" TValue="string" PopupHeight="230px" Index="2" Placeholder="Select a game" @bind-Value="@DropVal" DataSource="@Games">
                <DropDownListEvents TValue="string" ValueChange="OnChange"></DropDownListEvents>
                <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
            </SfDropDownList>*@
        </div>
    </div>
</div>

@code {

    private decimal CurrentValue = 0;

    private SelectInfo_Model infoModel = new SelectInfo_Model();
    public InfoServices _infoServices = new InfoServices();
    public List<SelectInfo_Model> dataInfo = new List<SelectInfo_Model>();

    public async Task OnInitializedAsync(string Entity, string ElementID, string TypeInfoID)
    {
        dataInfo = await _infoServices.SelectEntitiesInfo(Entity, ElementID, TypeInfoID);
        CurrentValue = decimal.Parse(dataInfo[0].value);

    }

}
