<div>
    <div class="form-inline">
        <div class="form-group col-md-3">
            <SfTextBox Readonly Placeholder='Int'></SfTextBox>

        </div>
        <div class="form-group col-md-3">
            <SfTextBox Placeholder='Int'></SfTextBox>

        </div>

    </div>
</div>

@code {

}
