@page "/memocomponent/{Entity}/{ElementID}/{TypeInfoID}"
@inherits DetailsAbstract
@using TaskManagementInterface.Services.Info
@using TaskManagementInterface.Data.Models.Info
<div>
    <div class="form-inline">
        <div class="form-group col-md-3">
            <label id="nominationLabel">@selectInfo_Model.nomination</label>
        </div>
        <div class="form-group col-md-6">
            <SfTextBox CssClass="e-outline" @bind-Value="@selectInfo_Model.value" @onfocusout="Save"></SfTextBox>
        </div>
    </div>
</div>


@code {

    [Parameter] public string Entity { get; set; }
    [Parameter] public string ElementID { get; set; }
    [Parameter] public string TypeInfoID { get; set; }


    SelectInfo_Model selectInfo_Model = new SelectInfo_Model();
    InfoServices infoServices = new InfoServices();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectInfo_Model = Task.Run(() => GetValue(Entity, ElementID, TypeInfoID)).Result;

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


    public async Task Save()
    {
        if (selectInfo_Model.value == "")
        {
            await infoServices.DeleteElement(Entity, selectInfo_Model.uid.ToString());
        }
        else
        {
            await infoServices.AddInfo(Entity, ElementID, TypeInfoID, selectInfo_Model.value);
        }
    }





}
