@page "/stringcomponent/{Entity}/{ElementID}/{TypeInfoID}"
@inherits StringComponentBase
@using TaskManagementInterface.Data.Models.Info
@using TaskManagementInterface.Services.Info
<div>
    <div class="form-inline">
        <div class="form-group col-md-3">
            <SfTextBox Placeholder='Type Info' @bind-Value="@Nomination"></SfTextBox>
        </div>
        <div class="form-group col-md-3">
            <SfTextBox  @bind-Value="@ValueGetSet" ></SfTextBox>
        </div>
    </div>
</div>

@code {

    [Parameter] public string Entity { get; set; }
    [Parameter] public string ElementID { get; set; }
    [Parameter] public string TypeInfoID { get; set; }

    public string Nomination = "";

    private string Value = "";
    public string ValueGetSet
    {
        get { return this.Value; }
        set
        {
            this.Value = value;
            this.stringValue = value.ToString();
        }
    }

    public string ParseValue(string InternalValue)
    {
        this.stringValue = Value.ToString();
        return InternalValue.ToString();
    }

    public StringComponent()
    {
        try
        {
            //SelectInfo_Model selectInfo_Model = Task.Run(() => GetValue(Entity, ElementID, TypeInfoID)).Result;
            //this.ValueGetSet = ParseValue(selectInfo_Model.nomination.ToString());

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    public StringComponent(string Entity, string ElementID, string TypeInfoID)
    {
        this.Entity = Entity;
        this.ElementID = ElementID;
        this.TypeInfoID = TypeInfoID;
        try
        {
            SelectInfo_Model selectInfo_Model = Task.Run(() => GetValue(Entity, ElementID, TypeInfoID)).Result;
            this.ValueGetSet = ParseValue(selectInfo_Model.nomination.ToString());
            this.Nomination = selectInfo_Model.nomination;

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
