@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    .nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header.collapsed:after {
    content: "\f067";
}

.accordion {
    margin-bottom: 20px;
}

.custom-repo li {
    display: inline-flex;
    width: 150px;
    position: relative
}

    .custom-repo li:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background: #000;
        border-radius: 50%;
        top: 7px;
        left: -15px;
    }

.annual-repo li {
    width: 200px;
}

.card-header {
    background-color: #a9d3fd;
    border-bottom: 1px solid #bbddff;
}