@using TaskManagementInterface.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<nav class="navbar navbar-dark bg-dark fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">Navbar</a>
        <button class="navbar-toggler mr-auto "
                type="button"
                data-toggle="collapse"
                data-target="#menus"
                aria-controls="menus"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <label style="color:white;font-weight:bold;margin-top:10px">Hello,@context.User.Identity.Name! &nbsp</label>
                    <a style="color:white" href="/login" @onclick="(() => Logout())">Logout </a>
                </Authorized>
                <NotAuthorized>
                    <a style="color:white" href="/login">Login </a>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>


</nav>
<div class="collapse navbar-collapse" id="menus">
    <div class="container-fluid boxes">
        <button class="box sales"
                data-toggle="collapse"
                data-target="#sales"
                aria-controls="sales">
            <p>Administration</p>
            <i class="fa fa-user"></i>
        </button>
        <button class="box service"
                data-toggle="collapse"
                data-target="#hr"
                aria-controls="hr">
            <p>HR</p>
            <i class="fa fa-user-md"></i>
        </button>
        <button class="box marketing"
                data-toggle="collapse"
                data-target="#marketing"
                aria-controls="marketing">
            <p>Staff</p>
            <i class="fa fa-briefcase"></i>
        </button>
        <button class="box service"
                data-toggle="collapse"
                data-target="#services"
                aria-controls="services">
            <p>Technologies</p>
            <i class="fa fa-user-md"></i>
        </button>
        <button class="box marketing"
                data-toggle="collapse"
                data-target="#assets"
                aria-controls="assets">
            <p>Assets</p>
            <i class="fa fa-briefcase"></i>
        </button>
        <button class="box marketing"
                data-toggle="collapse"
                data-target="#reports"
                aria-controls="reports">
            <p>Reports</p>
            <i class="fa fa-briefcase"></i>
        </button>
        <button class="box marketing"
                data-toggle="collapse"
                data-target="#projects"
                aria-controls="projects">
            <p>Projects</p>
            <i class="fa fa-briefcase"></i>
        </button>

    </div>

    <div class="menu-content" id="menu-content">

        <div class="collapse" id="sales" data-parent="#menu-content">
            <div class="dropdown-content">
                <div class="my-work">
                    <p class="text-primary">Configuration</p>
                    <div class="d-flex align-items-center">
                        <button data-toggle="collapse" data-target=".collapse.show" onclick="" class="action-button"> <i class="fa fa-cog mr-2"></i>Categories</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <button data-toggle="collapse" data-target=".collapse.show" onclick="" class="action-button"><i class="fa fa-text-height mr-2"></i>Types</button>
                    </div>
                    <div class="d-flex align-items-center">
                        <button data-toggle="collapse" data-target=".collapse.show" onclick="" class="action-button"><i class="fa fa-list mr-2"></i>Type Info</button>
                    </div>
                </div>
                <div class="customers">
                    <p class="text-primary">Users</p>
                    <div class="d-flex align-items-center">
                        <a>Administration</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a>SubCategoryUser</a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a>SubCategoryUser</a>
                    </div>

                </div>
                <div class="services">
                    <p class="text-primary">SubCategoryTest</p>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest1</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest2</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest3</a>
                    </div>
                </div>
                <div class="collaterall">
                    <p class="text-primary">SubCategoryTest2</p>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest1</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest2</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest3</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">SubCategoryTest4</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="collapse" id="hr" data-parent="#menu-content">

            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Workforce</h4>
                    <div class="d-flex">
                      
                        <button data-toggle="collapse" data-target=".collapse.show" @onclick="RedirectToEmployees" class="action-button" > <i class="fa fa-cog mr-2"></i>Actions</button>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Details</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Documents</a>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Calendar</h4>
                    <div class="d-flex">
                        <p class="my-auto">DayOff</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Reasons</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">
                            Absences
                        </p>
                    </div>

                </div>
                <div class="services">
                    <h4 class="text-primary">Reports</h4>
                    <div class="d-flex">
                        <p class="my-auto">Individual Reporting</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Group Reporting</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Project Reporting</p>
                    </div>
                </div>
                <div class="collaterall">
                    <h4 class="text-primary">Engagment</h4>
                    <div class="d-flex">
                        <p class="my-auto">Projects</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Clients</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Actions</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="collapse" id="marketing" data-parent="#menu-content">

            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Configuration</h4>
                    <div class="d-flex">
                        <a class="my-auto" href="configCategory">Category</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto" href="edittypes">Type</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto" href="typeinfo">Type Info</a>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Users</h4>
                    <div class="d-flex">
                        <p class="my-auto">Administration</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryUser</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryUser</p>
                    </div>

                </div>
                <div class="services">
                    <h4 class="text-primary">SubCategoryTest</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                </div>
                <div class="collaterall">
                    <h4 class="text-primary">SubCategoryTest2</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest4</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="collapse" id="reports" data-parent="#menu-content">

            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Configuration</h4>
                    <div class="d-flex">
                        <a class="my-auto" href="configCategory">Category</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto" href="edittypes">Type</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto" href="typeinfo">Type Info</a>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Users</h4>
                    <div class="d-flex">
                        <p class="my-auto">Administration</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryUser</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryUser</p>
                    </div>

                </div>
                <div class="services">
                    <h4 class="text-primary">SubCategoryTest</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                </div>
                <div class="collaterall">
                    <h4 class="text-primary">SubCategoryTest2</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest4</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="collapse" id="projects" data-parent="#menu-content">

            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Document Management for the project</h4>
                    <div class="d-flex">
                        <a class="my-auto" >Test</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Test</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Test</a>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Project Management</h4>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>

                </div>
                <div class="services">
                    <h4 class="text-primary">Task Reporting</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                </div>
                <div class="collaterall">
                    <h4 class="text-primary">PC Reporting ( Automatic Reporting )</h4>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest1</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest2</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest3</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">SubCategoryTest4</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="collapse" id="assets" data-parent="#menu-content">

            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Asset Registration </h4>
                    <div class="d-flex">
                        <button data-toggle="collapse" data-target=".collapse.show" @onclick="RedirectToAssets" class="action-button"> <i class="fa fa-cog mr-2"></i>Actions</button>
                        
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Test</a>
                    </div>
                    <div class="d-flex">
                        <a class="my-auto">Test</a>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Asset Distribution</h4>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>
                    <div class="d-flex">
                        <p class="my-auto">Test</p>
                    </div>

                </div>


            </div>
        </div>
        <div class="collapse" id="services" data-parent="#menu-content">
            <div class="dropdown-content">
                <div class="my-work">
                    <h4 class="text-primary">Workforce</h4>
                    <div class="d-flex">
                        <p class="my-auto">Personel</p>
                    </div>
                    <div class="d-flex">

                        <p class="my-auto">Interns</p>
                    </div>
                    <div class="d-flex">

                        <p class="my-auto">Possible resources</p>
                    </div>
                </div>
                <div class="customers">
                    <h4 class="text-primary">Performance</h4>
                    <div class="d-flex">

                        <p class="my-auto">Group Performance</p>
                    </div>
                    <div class="d-flex">

                        <p class="my-auto">Personal Performance</p>
                    </div>
                </div>
                <div class="services">
                    <h4 class="text-primary">Payroll</h4>
                    <div class="d-flex">

                        <p class="my-auto">Payroll</p>
                    </div>
                    <div class="d-flex">

                        <p class="my-auto">Vocations</p>
                    </div>

                </div>


            </div>


        </div>
    </div>
</div>





@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
    public void RedirectToEmployees()
    {
        NavigationManager.NavigateTo("/ElementAdministration/Employees");

    }
    
         public void RedirectToAssets()
    {
        NavigationManager.NavigateTo("/ElementAdministration/Assets");

    }

}


