@page "/addcomponent/{kategoriModel}"
@using Microsoft.AspNetCore.Components



<h3>AddComponent</h3>

<EditForm Model="@kategoriModel" OnValidSubmit="Save">
    <!-- This is the popup to create or edit a forecast -->
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"> Category </h3>
                    <!-- Button to close the popup -->
                    <button type="button" class="close" @onclick="Cancel">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <!-- Edit form for the current forecast -->
                <div class="modal-body">

                    <input hidden="hidden" class="form-control" type="text"
                           placeholder="Element Id "
                           @bind="kategoriModel.uid" readonly="readonly" /> <br />
                    <label class="text-black-50">Nomination:</label>

                    <input class="form-control" type="text"
                           placeholder="Nomination"
                           @bind="kategoriModel.nomination" /><br />
                    <label class="text-black-50">Parent:</label>
                    @if (TreeData.Count() != 0)
                    {

                        <select class="form-control" style="border-radius:7px" @bind="kategoriModel.uid_sup">
                            <option value="0">-- Parent --</option>
                            @if (TreeData != null)
                            {
                                @foreach (var cnt in TreeData)
                                {
                                    <option value="@cnt.uid">@cnt.nomination</option>
                                }
                            }
                        </select> <br />
                    }
                    <label class="text-black-50">Description:</label>
                    <input class="form-control" type="text"
                           placeholder="Description"
                           @bind="kategoriModel.description" /> <br />
                    <label class="text-black-50">Code:</label>
                    <input class="form-control" type="text"
                           placeholder="Code"
                           @bind="kategoriModel.code" /><br />
                    <label class="ftext-black-50">Elcat:</label>
                    <input class="text-black-50" type="checkbox"
                           placeholder="Code"
                           @bind="kategoriModel.elcat" /><br />

                    <br />
                    <!-- Button to save the forecast -->
                    <button class="btn btn-primary" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {

    [Parameter]
    public TaskManagementInterface.Data.Kategorite kategoriModel { get; set; }
    public List<TaskManagementInterface.Data.Kategorite> TreeData = new List<Data.Kategorite>();

    private void Save()
    {

    }
    private void Cancel()
    {

    }
}
